body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1C1C1C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  column-gap: 28px;
}
nav {
  /* padding: 30px; */
  border-right: 1px solid #ddd;
  background-color: red;
}
/* nav li {
  /* text-decoration: underline; */

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

